body{
    background-color:greenn;
}
h1
color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background: local;
}
p{
color:blue;
font-family: 'Courier New';
font-size:x-large;
background: fixed
}