body{
    background-color:green;
    
}
 h1{
    color: blue;
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}
p{
color:blue;
font-family: 'Courier New';
font-size: 30px;
background: fixed;
text-align: center;
}